@model IEnumerable<AshZoneModels.Models.Product>
@using Microsoft.AspNetCore.Identity
@using ReflectionIT.Mvc.Paging

@addTagHelper *, Reflection.Mvc.Paging
@using AshZoneModels.Models
@{
    ViewData["Title"] = "Index";
}

<h1 >Welcome To AshZone</h1>

<br />

<div class="container">
    @if (Model.Count() > 0)
    {

        <h3>Our Products</h3>
        <hr />
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-lg-4 mt-5">
                    @if (product.ImagePath != null)
                    {
                        <img src="~/Images/@product.ImagePath" height="200px" width="200px" />
                    }
                    else
                    {
                        <img src="~/Images/NoImage.png" height="200px" width="200px" />
                    }
                <div class="box-element product">
                    <h6><strong>@product.ProductName</strong></h6>
                    <hr>

                    <a class="btn btn-secondary" asp-route-id="@product.ID" asp-action="Details">View</a>
                    
                  
                    <h4 style="display: inline-block; "><strong class="text-success">$ @product.Price</strong></h4>

                </div>
                </div>
            }
        </div>
    }
    else
    {
        <h3 class="text-black-50">No Products Found</h3>
    }
</div>






