@model IEnumerable<AshZoneModels.Models.Product>
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome To AshZone</h1>

<br />

<div class="container">


    <h3>Our Products</h3>
    <hr />
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-lg-4 mt-5">
               @if (product.ImagePath != null)
               {
                <img src="~/Images/@product.ImagePath" width="150" height="150" />
               }
               else 
               {
                   <img src="~/Images/NoImage.png" width="150" height="150" /> 
               }
                <div class="box-element product">
                    <h6><strong>@product.ProductName</strong></h6>
                    <hr>


                    <a class="btn btn-secondary" asp-route-id="@product.ID" asp-action="Details">View</a>

                    <button class="btn btn-info text-white">Add to Cart</button>

                    <h4 style="display: inline-block; float: right"><strong class="text-success">$ @product.Price</strong></h4>

                </div>
            </div>
        }
    </div>


</div>






