@model AshZoneModels.Models.ShopingCart

@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>
<br />


<form method="post">
    <input asp-for="ProductId" value="@Model.ProductId" hidden />
    <div class="container">
        <div class="row">

            <!-- this column is for pic only-->
            <div class="col-md-5 col-sm-4">
                <div style="height:400px;width:400px;">
                    @if (Model.Productitem.ImagePath != null)
                    {

                       <img src="~/Images/@Model.Productitem.ImagePath " width="100%" height="100%" />
                    }
                    else
                    {
                      <img src="~/Images/NoImage.png" width="100%" height="100%" />
                    }

                </div>
            </div>

            <!--  this column is for details -->
            <div class="col-md-7 col-sm-6">
                <div class="row form-group">
                    <div class="col-md-8">
                        <br />
                        <h2>@Model.Productitem.ProductName</h2>
                        <hr />
                     
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-8">
                        <p>@Model.Productitem.ProductDescription</p>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-8">
                        <h4>Price : <span class="text-success">$ @Model.Productitem.Price</span></h4>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-8">
                        <h4>Quantity</h4>
                        <input asp-for="Count" class="form-control" />
                        <span asp-validation-for="Count" class="text-danger"></span>
                    </div>
                </div>

                <!--more two buttons will be added in this column i.e 1 for buy now and 2 for add to cart-->
                <div class="row form-group">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="text-white btn btn-success form-control">Add to cart</button>
                            </div>
                            <div class="col-6">
                                <a class="text-white btn btn-warning form-control" asp-action="Customer">Back to list</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</form>
